.links {
    font-family: 'Roboto Slab';
    color: #777;
    text-align: center;
    padding-right: 200px;
    padding-left: 200px;
    font-size: 150%;
}

.link-header {
    font-family: 'Roboto Slab';
    color: #777;
    text-align: center;
    padding-right: 200px;
    padding-left: 200px;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 200%;
}

.links a:link {
    color: #5d8ef8;
    text-decoration: none;
  }

.links a:visited {
    color: #5d8ef8;
    text-decoration: none;
}

