@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab');

html {
    position: relative;
    height: auto;
    width: auto;
}

.container {
    margin-top: 50px;
}

.row {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px;
    justify-content: space-evenly;
    display: flex;
}

.card {
    height: 150px;
    width: 350px;
    background-color:#272727;
    border-radius: 5px;
    text-align: center;
    border: 0.001rem solid;
    border-color: #6a6a6a;

}

.card-title  {
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
    color: #8a8a8a;
}

.card-text {
    color: #8a8a8a;
    padding-left: 5px;
    padding-right: 5px;
}

.card a {
    text-decoration: none;
    text-align: center;
}
a.card-click {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}