.welcome {
    font-family: 'Roboto Slab';
    color: #777;
    text-align: center;
    font-size: 250%;
}

.welcome-paragraph {
    font-family: 'Roboto Slab';
    color: #777;
    text-align: center;
    padding-right: 200px;
    padding-left: 200px;
    font-size: 120%;
}

.welcome-paragraph a:link {
    color: #5d8ef8;
    text-decoration: none;
  }

.welcome-paragraph a:visited {
    color: #5d8ef8;
    text-decoration: none;
}